@chasert "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
    /* background: #3C4767; */
    background: linear-gradient(#3C4767 60%, #e7633c);
    color: white;
    text-align: center;
}

#container {
    margin: 20px 300px;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin-top: 200px;
}

.sns {
    font-size: 28px;
}
